#box1, #box2, #box3 ,#box4 ,#box5 ,#box6 ,#box7 ,#box8 {
	display: inline-flex;
	width: 200px;
	height: 320px;
	border: solid black;
	border-radius: 4px; 
	margin: 40px;
	transform-style: preserve-3d;
	transition: all 1s;
	backface-visibility: hidden;
	background-image: repeating-radial-gradient(circle, blue, black);
}

#back1, #back2, #back3 ,#back4 ,#back5 ,#back6 ,#back7 ,#back8 {
	position: relative;
	border: solid black;
	width: 100%;
	height: 98%;
	background-color: white;
	border: solid black;
	border-radius: 4px; 
	backface-visibility: hidden;
	transform: rotateY(180deg)

}

img {
	width: 100%;
	-webkit-display: inline-flex;
	display: inline-flex;
}

div {
	-webkit-display: inline-flex;
	display: inline-flex;
}

header {
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 190%;
	text-transform: uppercase;
	height: 140%;
	width: 100%;
	padding-bottom: 5%;
	padding-top: 5%;
}

body {
	background-image: repeating-radial-gradient(circle, purple, black)
}

p {
	font-size: 120%;
}